<div id="team-list">

  <ul style="padding:0 0 0 200px;">
    <li style="width:210px;z-index:10;position: relative;" class="fixpng32">
      <a href="#">
        <img class="" title="陈丽丽" src="http://www.ino-design.com/wp-content/themes/ino-design/images/teams/1.png"  />
      </a>
      <span>陈丽丽 Lily</span>
    </li>
    <li style="width:267px;margin-left: -50px;">
      <a href="#">
        <img class="" title="陈红丽" src="http://www.ino-design.com/wp-content/themes/ino-design/images/teams/2.png"  />
      </a>
      <span>陈红丽</span>
    </li>
    <li style="width:227px;z-index:1000;position: relative;margin-left: -54px;">
      <a  href="/?member_profile=%e8%a8%80%e8%af%ba%e5%9b%a2%e9%98%9f-%e9%ab%98%e8%bf%9c">
        <img class="" title="高远 Dino" src="http://www.ino-design.com/wp-content/themes/ino-design/images/teams/4.png" alt="" />
      </a>
      <span>高远 Dino</span>
    </li>
    <li style="width:240px;margin-left: -52px;">
      <a href="#">
        <img class="" title="冯娟" src="http://www.ino-design.com/wp-content/themes/ino-design/images/teams/7.png"  />
      </a>
      <span>冯娟</span>
    </li>
  </ul>
  <div id="team-list-bg">

  </div>
</div>
