<% content_for :title, "得泰居古典红木家具有限公司- 客户案例" %>
<!--右侧 -->
<div class="p_lmain"> 
  <div class="localtion_bg">
    <!--当前位置 -->
    <div id="breadcrumbs">
      <a href="/">首页</a> / 客户案例
     

    </div>
    <!--当前位置end -->
  </div>    

  <div class="n_hr_line"></div>
  <!--主栏目标题 -->
  <div class="title_pro">
  </div>

  <!--内容区 -->
  <div class="product_p" >
    
    <div class="dash_line"></div>
  </div>

  <div class="blank29"></div>
</div>
<!--右侧end -->
<!--左侧 -->
<div class="left2">
  <div class="menu1 menu_tech" style="height:600px;">

  </div>
</div>
<!--左侧 -->
<div class="blank33"></div>
<!--产品信息列表 -->
