@charset "utf-8";
/* CSS Document CSS design by Isaac mixby 2010.5.5*/
/*reset 全局定义 注释可去掉*/   
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}
fieldset,img,div{border:0;}    
ul li,dd{list-style:none; list-style-type:none;} 
ol li{ list-style-position:inside;}
input,textarea,select{}    
hr{height:0;border-bottom:1px solid #797979; margin:0;}
a{outline:none;}
/* body标记样式定义全局的字体颜色、背景色和文本对齐设置 */   
body{color: #323232;  font-family: "宋体","微软雅黑",Verdana,Arial, Helvetica,sans-serif;font-size:12px; line-height:1.8em; background:#f0e0c6 image-url("body_bg.jpg") center 151px repeat;} 
/*段落缩进两个字符*/
p{letter-spacing:0px;} 
/* hx系列 */   
h1, h2, h3, h4, h5, h6{ font-size:100%;}    
h1{ }    
h2{ }    
h3{ }    
h4{ }    
h5{ }    
h6{ }    
img{ border:none;}
a img{ border:none;}
/* 通用空白间距 */
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.blank0{ height:0px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank1{ height:1px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank4{ height:4px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank6{ height:6px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank8{ height:8px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank12{ height:12px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank16{ height:16px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank19{ height:19px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank21{ height:21px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank24{ height:24px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank29{ height:29px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank33{ height:33px; font-size:0px; width:100%; clear:both; line-height:0px;}
.blank66{ height:66px; font-size:0px; width:100%; clear:both; line-height:0px;}
/* 着重标记 */   
cite, blackquote, em, i{ font-style: italic; }    
strong, b{ font-weight: bold; }    
/* 预格式标记 */   
pre, code{font-family: monospace; font-size: 1.1em;}  
.fontw{ font-weight:700;}
.fontn{ font-weight:normal;}
/* 定义默认的链接样式 */   
a:link{  color: #838383; text-decoration:none;} 
a:visited{  color:#838383; text-decoration:none;} 
a:hover{  color: #fff; text-decoration:none;} 
a:active{ color: #838383;text-decoration:none;}

.c_6f1{ color:#6f1f06;}
.textc{ text-align:center;}

/*菜单*/
.container{}

.containerde{ }
.header{}
.nav_bg{ clear:both; background:image-url("top_bg.jpg") center top repeat-x; height:151px; width:100%;}
.menu_tp{ width:960px; height:51px; margin:0 auto;}



.logo{ margin:0 auto;width:216px;}
.logo a{ text-indent:-9999px; display:block;width:216px; height:100px;}
#nav { height:51px; float:left;width:960px; background:image-url("menu.jpg") left top no-repeat; background-position:0px 0px; }
#nav li { display:block; float:left;position:relative;}
#nav li a{height:51px; display:block; cursor:pointer; text-indent:-9999px;}
#nav li a span{ height:51px;background-repeat:no-repeat; display:none; }

.nav01 a{background:image-url("menu.jpg") left top no-repeat; background-position:0px -51px;width:160px;}
.nav01 a:link {background-position:0px -51px;  }
.nav01 a:visited {background-position:0px -51px;}
.nav01 a:hover {background-position:0px -51px}
.nav01 a:active { background-position:0px -51px; }

.nav02 a{background:image-url("menu.jpg") left top no-repeat; background-position:-160px -51px;width:160px;}
.nav02 a:link {background-position:-160px -51px; }
.nav02 a:visited {background-position:-160px -51px;}
.nav02 a:hover {background-position:-160px -51px;}
.nav02 a:active { background-position:-160px -51px; }

.nav03 a{background:image-url("menu.jpg") left top no-repeat; background-position:-320px -51px;width:160px;}
.nav03 a:link {background-position:-320px -51px; }
.nav03 a:visited {background-position:-320px -51px;}
.nav03 a:hover {background-position:-320px -51px;}
.nav03 a:active { background-position:-320px -51px; }

.nav04 a{background:image-url("menu.jpg") left top no-repeat; background-position:-480px -51px;width:160px;}
.nav04 a:link {background-position:-480px -51px; }
.nav04 a:visited {background-position:-480px -51px;}
.nav04 a:hover {background-position:-480px -51px;}
.nav04 a:active { background-position:-480px -51px; }

.nav05 a{background:image-url("menu.jpg") left top no-repeat; background-position:-640px -51px;width:160px;}
.nav05 a:link {background-position:-640px -51px;}
.nav05 a:visited {background-position:-640px -51px;}
.nav05 a:hover {background-position:-640px -51px;}
.nav05 a:active { background-position:-640px -51px;}

.nav06 a{background:image-url("menu.jpg") left top no-repeat; background-position:-800px -51px;width:160px;}
.nav06 a:link {background-position:-800px -51px; }
.nav06 a:visited {background-position:-800px -51px;}
.nav06 a:hover {background-position:-800px -51px;}
.nav06 a:active { background-position:-800px -51px;}


.lang_lc{ float:right; line-height:20px; height:20px; cursor:pointer;position:relative;padding-right:10px;width:55px; background: url(/Public/Yh_image/lang_arw.gif) right center no-repeat; background-position:45px 5px; text-align:left;}
.lang_c dd{ display:none;}

#nav li ul { position:absolute; width:300px; left:0px; bottom:40px; display:none;}
#nav li ul li{ background:#000;}
#nav li ul li a{ background:#000; color:#FFF; text-indent:0px; width:215px; font-weight:700; float:left; height:20px; line-height:20px; padding:5px 8px;}

.footer_shadow{ height:16px; line-height:0px; width:100%; clear:both; font-size:0px; background:url(/Public/Yh_image/footer_shadow.jpg) left top no-repeat;}

.main_body{ width:960px; z-index:112; margin:0 auto; position:relative; background:url(/Public/Yh_image/i_c_bg.jpg) center top no-repeat;}
.p_lmain{ width:710px; padding-top:38px; z-index:112;min-height:438px;_height:438px; float:right; position:relative;}


.footer_info{}
.footer_info li{ float:left;display:block; }
.footer_info li a{float:left;display:block; width:70px; line-height:24px; height:24px;}
.footer_info li a:link{  color: #4f4f4f; text-decoration:none;} 
.footer_info li a:visited{  color:#4f4f4f; text-decoration:none;} 
.footer_info li a:hover{  color: #6f1f06; text-decoration:none;} 
.footer_info li a:active{ color: #4f4f4f;text-decoration:none;}
.footer_b_bg{clear:both; background:url(/Public/Yh_image/body_fb_bg.jpg) left top repeat-x; height:100px; margin:0 auto; width:960px; text-align:center; z-index:109;}
.icards{ width:375px; margin:0 auto; text-align:center;}
.ic_info{ color:#b08168; clear:both;}
.rscroll_pic{ position:relative; width:138px; height:390px; overflow:hidden;}

.dash_line{ background:url(/Public/Yh_image/dash_line.jpg) center center repeat-x; height:8px; line-height:8px; width:100%; font-size:0px; clear:both;}
.dash_line2{ background:url(/Public/Yh_image/dash_line.jpg) center center repeat-x; height:8px; line-height:8px; width:100%; font-size:0px; clear:both;}


/**/

/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */

@charset "utf-8";
/* CSS Document */
/*body{ background:#f0e0c6 image-url("ll_con_bg.gif") center 164px no-repeat;}*/
/* index */
/* banner */
.changeBox_a1{float:left;width:903px;height:256px;position:relative; top:29px; left:28px; }
.changeBox_a1 .a_bigImg img{position:absolute;top:0px;left:2px;display:none;}
/* ul_change_a2 */
.ul_change_a2{position:absolute; right:10px; bottom:5px; }
.ul_change_a2 li{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;}
.ul_change_a2 span{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;font-size:0.8em;margin-right:3px;filter:alpha(opacity=85);opacity:0.85;cursor:hand;cursor:pointer;}
.ul_change_a2 span.on{opacity:1;}
.eachBox { width:960px;height:341px;position:relative; background:image-url("banner_bg.PNG") 20px 15px no-repeat;overflow:hidden;clear:both; margin-top:
14px;}
.eachBox .n, .eachBox .p { position:absolute; top:0px; margin-top:0px; left:0px;  width:20px; height:316px; line-height:0px; color:#fff; text-decoration:none; background-color:#000 }
.eachBox .n { left:auto; right:0px; }
/* content */
.index_con{ width:960px;  position:relative;  }
.index_left_box{ width:739px; float:left;}
.index_right_box{ width:221px; float:right;}
.index_con .listItem{ background:image-url("title_bg.gif") left bottom repeat-x; position:relative; clear:both;}

.index_con .listItem h3.title span{ display:block; float:left; width:117px; text-indent:-9999px; margin-top:5px;}
.index_con .listItem h3.title a{ position:absolute; top:6px; right:0; font-size:12px; font-weight:normal; color:#323232;}
.index_con .index_left_box .path1{ width:695px; height:215px; float:left;  position:relative; left:-44px; padding:0px 0 0 44px;}
.index_con .index_left_box .path1 .listItem{ height:50px;}
.index_con .listItem h3.title .t_01{ background:image-url("news_title.png") no-repeat; width:138px; margin-left:0px; }
.index_con .listItem h3.title .t_02{ background:image-url("news_title.png")  no-repeat;  width:138px;}
.index_con .listItem h3.title .t_03{ background:image-url("product_title.png") no-repeat;  width:138px;}
.index_con .listItem h3.title .t_04{ background:image-url("page1.png") no-repeat;  width:138px;}
.index_con .index_left_box .path1 .con_list{ width:695px; padding-left:15px;}
.index_con .index_left_box .path1 .con_list ul{  display:block; padding-top:10px; width:100%; height:131px; overflow:hidden;}
.index_con .index_left_box .path1 .con_list li{ background:image-url("ll_img_02.gif") left bottom repeat-x; height:33px; line-height:33px;}
.index_con .index_left_box .path1 .con_list li .time{ padding:0 10px; background:image-url("ll_img_01.gif") 0 4px no-repeat; color:#6f1f06;}
.index_con .index_left_box .path1 .con_list li a{ color:#323232;}
.index_con .index_left_box .path1 .con_list li a:hover{ color:#6f1f06;}
.index_con .index_left_box .path1 .con_list_r{ padding-left:30px;}
.index_con .index_left_box .path2 .listItem{ height:55px;}
.index_con .path2 .listItem h3.title a{ top:12px;}
.index_con .index_left_box .path2{ width:688px; clear:both; position:relative; left:-36px; padding-left:51px; overflow:hidden; }
.index_con .index_left_box .path2 ul{ display:block; width:724px; padding-left:6px; margin-top:23px;}
.index_con .index_left_box .path2 li{ float:left;  padding-right:30px;}
.index_con .index_left_box .path2 li img{ display:block; margin:0 auto 6px;}
.index_con .index_left_box .path2 .show_list ul{ margin-top:35px;}
.index_con .index_left_box .path2 .show_list ul li{ margin-bottom:10px;}
.index_con .index_left_box .path2 .show_list a{ color:#6f1f06; font-weight:bold;}
.index_con .index_left_box .path2 .show_list a:hover{ text-decoration:underline;}
.index_con .index_left_box .path2 .list a{ color:#323232;}
.index_con .index_right_box .pathA{ height:45px; position:relative; width:100%; margin-top:0px; }
.index_con .index_right_box .index_menu{ background:image-url("ll_img_05.png") no-repeat; width:100%; height:386px; padding-top:39px;}
.index_con .index_right_box .pathA .i_sear_iput_index { border:none; background:url(../Yh_image/ll_input_bg.gif) left top no-repeat; padding-left:4px; color:#a0a0a0;width:130px; height:25px; line-height:25px; float:left; }
.index_con .index_right_box .pathA .i_sear_ibtn{ float:left;}
.index_con .index_right_box .pathA .i_search_form{ width:221px;}
.index_con .index_right_box .index_menu .text_info{ height:181px; width:180px; margin:0 auto;}
.index_con .index_right_box .index_menu .text_info .img_box{ float:left; width:56px; height:55px; padding:6px 1px ;}
.index_con .index_right_box .index_menu .text_info .text_box{ width:94px; float:right; color:#ebdac1; padding-top:12px; line-height:18px;}
.index_con .index_right_box .index_menu_list{ padding:9px 0 0 52px; width:130px;}
.index_menu_list li{ text-indent:-9999px; width:100%}
.index_menu_list li a{ background:url(../Yh_image/ll_menu_img.png) no-repeat; display:block; width:130px;}
.index_menu_list li .menu_01,.index_menu_list li .menu_01_hover{ height:29px;}
.index_menu_list li .menu_01:hover,.index_menu_list li .menu_01_hover{ background-position:-130px 0;}
.index_menu_list li .menu_02,.index_menu_list li .menu_02_hover{ margin-top:24px; height:28px;}
.index_menu_list li .menu_02{ background-position:0 -54px;}
.index_menu_list li .menu_02:hover,.index_menu_list li .menu_02_hover{ background-position:-130px -54px;}
.index_menu_list li .menu_03,.index_menu_list li .menu_03_hover{ margin-top:17px; height:30px;}
.index_menu_list li .menu_03{ background-position:0 -98px;}
.index_menu_list li .menu_03:hover,.index_menu_list li .menu_03_hover{ background-position:-130px -98px;}
.index_menu_list li .menu_04,.index_menu_list li .menu_04_hover{ margin-top:16px; height:29px;}
.index_menu_list li .menu_04{ background-position:0 -144px;}
.index_menu_list li .menu_04:hover,.index_menu_list li .menu_04_hover{ background-position:-130px -144px;}
.index_menu_list li .menu_05,.index_menu_list li .menu_05_hover{ margin-top:17px; height:29px;}
.index_menu_list li .menu_05{ background-position:0 -190px;}
.index_menu_list li .menu_05:hover,.index_menu_list li .menu_05_hover{ background-position:-130px -190px;}
.index_menu_list li .menu_06,.index_menu_list li .menu_06_hover{ margin-top:15px; height:28px;}
.index_menu_list li .menu_06{ background-position:0 -234px;}
.index_menu_list li .menu_06:hover,.index_menu_list li .menu_06_hover{ background-position:-130px -234px;}
.index_menu_list li .menu_07,.index_menu_list li .menu_07_hover{ margin-top:16px; height:28px;}
.index_menu_list li .menu_07{ background-position:0 -279px;}
.index_menu_list li .menu_07:hover,.index_menu_list li .menu_07_hover{ background-position:-130px -279px;}
.index_menu_list li .menu_08,.index_menu_list li .menu_08_hover{ margin-top:16px; height:28px;}
.index_menu_list li .menu_08{ background-position:0 -324px;}
.index_menu_list li .menu_08:hover,.index_menu_list li .menu_08_hover{ background-position:-130px -324px;}


/* 2011-7-5 精品模块修改 */
.index_con .index_left_box .path2 .show_list li{ width:315px; height:160px; padding-bottom:25px;}
.index_con .index_left_box .path2 .show_list li .img_box{ width:200px; height:117px; padding:0 10px 0 50px;}
.index_con .index_left_box .path2 .show_list li .txt_box{ width:250px; line-height:18px; padding-left:50px;}
.index_con .index_left_box .path2 .show_list li .txt_box h4{ font-size:12px;}
.index_con .index_left_box .path2 .list li{ width:140px;}


@charset "utf-8";
/*关于我们*/
.nav_bg2{ clear:both;height:52px; width:100%;background:url(/Public/Yh_image/footer_bg.jpg) left top repeat-x; }

.content_title{ height:32px; float:left; }

.a_rframe .content_title{ height:32px; float:left; }
.a_rframe_c .content_title{ height:32px; float:left; padding-left:34px;}

.a_rframe_e .content_title{ height:32px; float:left; padding-left:34px;}

/*联系我们*/
.title_contact{ background:url(/Public/Yh_image/title_conus.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_contact h2{ display:block;text-indent:-9999em;  }

.title_about{ background:url(/Public/Yh_image/title_about.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_about h2{ display:block;text-indent:-9999em;  }

.table_contact th{}
/*搜索*/
.sttitle{width:580px;color:#6f1f06;font-size:16px; height:32px; line-height:32px;}

/*品牌加盟*/
.title_join{ background:url(/Public/Yh_image/title_join.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_join h2{ display:block;text-indent:-9999em;  }

.join_content{}

.join_term h2{ color:#6f1f06; font-size:14px; line-height:58px; height:58px;}
.join_term h3{ color:#505050; font-size:12px; }

.join_term table{ text-align:left; }
.join_term table th{ color:#6f1f06; text-align:left; width:36px; }
.join_term table td{}

.table_form{ border-top:1px solid #6f1f06; border-left:1px solid #6f1f06;}
.table_form th{ padding:4px;}
.table_form td{ padding:4px; border-bottom:1px solid #6f1f06; border-right:1px solid #6f1f06;}

.join_network{}

.join_network_table th{ color:#6f1f06; text-align:left; padding-left:24px; font-weight:normal;}
.join_network_table td{ color:#505050; padding-left:24px;}

.join_network h3{ background:url(/Public/Yh_image/arw_icon01.gif) left center no-repeat; padding-left:18px;}

/**/
.title_sitemap{ background:url(/Public/Yh_image/title_sitemap.jpg) left top no-repeat; width:925px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_sitemap h2{ display:block;text-indent:-9999em;  }

.site_map_a dl{ display:block; padding-top:22px; width:90px;float:left;}
.site_map_a dl.sp_bg{background:url(/Public/Yh_image/sitemap_bg.jpg) left top repeat-x;}
.site_map_a dl dd{ clear:both;text-align:center; min-height:250px; _height:250px;}
.site_map_a dt{ padding-left:4px;}
.site_map_a dt a{ display:block; color:#6f1f06; font-weight:700; float:left; padding:0; height:20px; padding-right:12px;padding-left:18px;padding-bottom:24px;_padding-bottom:0px;  background:url(/Public/Yh_image/arw_icon01.gif) left 3px no-repeat;}
.site_map_a dt a:link{color:#6f1f06; }
.site_map_a dt a:visited { color:#6f1f06; text-decoration:none; }
.site_map_a dt a:hover{color:#6f1f06; text-decoration:none;}
.site_map_a dt a:active { color:#6f1f06; text-decoration:none; }
.smap_list{ float:left;  padding-left:10px;}
.site_map_a dl dd a:link{color:#505050; }
.site_map_a dl dd a:visited { color:#505050; text-decoration:none; }
.site_map_a dl dd a:hover{color:#505050; text-decoration:none;}
.site_map_a dl dd a:active { color:#505050; text-decoration:none; }
.site_map_a dl dd li{ line-height:14px; display:block; padding-bottom:18px;}
.site_map_a .smap_listt{ float:left; padding-left:12px;padding-bottom:12px; padding-right:32px; white-space:nowrap; background:url(/Public/Yh_image/n_uarw_icon.gif) left 2px no-repeat;}

/*客户留言*/
.title_msg{ background:url(/Public/Yh_image/title_msg.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_msg h2{ display:block;text-indent:-9999em;  }

.msg_input{ background:url(/Public/Yh_image/search_input.jpg) left top no-repeat; height:25px; line-height:25px; width:140px; border:none; padding:0px 6px;}

.msg_textarea{ background: url(/Public/Yh_image/textarea_bg_02.jpg) left top no-repeat; height:124px; line-height:25px; width:441px; padding:6px; border:none; overflow:hidden;}

.table_msg th{ color:#6f1f06;}

.faq_list{ float:left; width:670px;}

/*品鉴文藏*/
.title_collection{ background:url(/Public/Yh_image/title_collection.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_collection h2{ display:block;text-indent:-9999em;  }



/*文章列表*/
.title_news{ background:image-url("news_title.png") left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_news h2{ display:block;text-indent:-9999em;  }

.title{font-size:14px;height:50px;margin-top:20px;line-height:50px;color:#6f1f06;}
.title2{font-size:11px;height:50px;line-height:50px;color:#6f1f06;}
.p{line-height:18px;margin-bottom:7px;font-size:12px}

.news{  }
.news ul{padding:42px 0px;}
.news ul li{line-height:35px;color:#323232; display:block; width:650px;padding-left:12px;height:35px;background:url(/Public/Yh_image/news_list_ac.jpg) left center no-repeat;}
.news ul li a{line-height:35px;height:35px;width:500px;display:block; float:left; color:#323232; cursor:pointer;}
.news ul li a:link{color:#323232;}
.news ul li a:visited{color:#323232;}
.news ul li a:hover{color:#6f1f06;}
.news ul li a:active{color:#323232;}

.news ul li span.l{float:left; display:block; }
.news ul li span.lc{float:left; display:block; height:35px; line-height:35px;color:#FFF;}
.news ul li span.r{ float:left;color:#6f1f06; padding-right:8px;}


/*参购指引*/
.title_shop{ background:url(/Public/Yh_image/title_shop.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_shop h2{ display:block;text-indent:-9999em;  }

.shop_zshow{ background:url(/Public/Yh_image/zoom_btn_icon.jpg) left center no-repeat; clear:both; padding-left:22px; height:32px; line-height:32px; cursor:pointer;}

.content_shop{ width:670px;}

.shop_show_pic{ float:left; width:465px;  height:350px; position:relative;}

.shop_sp_no{ position:absolute; right:5px; bottom:10px; float:right; width:auto; height:15px; z-index:1111;}

.shop_sp_no ul li{ float:left; margin-right:5px;}

.shop_sp_no ul li a{ width:13px; height:13px; text-align:center; color:#FFF;display:block; line-height:13px; background:url(/Public/Yh_image/icon_no_bg.gif) center center no-repeat;}

.shop_sp_wno{ position:absolute; right:5px; bottom:-30px; float:right; width:auto; height:15px; z-index:1111;}
.shop_sp_wno ul li{ float:left; margin-right:5px;}

.shop_sp_wno ul li a{ width:13px; height:13px; text-align:center; color:#490000;display:block; line-height:13px; background:url(/Public/Yh_image/icon_no_wbg.gif) center center no-repeat;}

.shop_show_info li span{ font-weight:700; color:#6f1f06;}

.shop_sp_show { width:465px;height:350px; float:right; overflow:hidden;  text-align:right; }

.shop_sp_show dl { float:left; position:relative; width:465px; height:350px; z-index:9; display:none; }
.shop_sp_show dl.active { display:block; }
.shop_sp_show dt { position:absolute; width:465px; display:none; height:29px; bottom:0px; left:0px; z-index:9; }
.shop_sp_show dd { width:465px; height:350px; display:none; }

/*弹出窗口*/
.modal { background-color:#5d0000; width:950px; padding:3px; text-align:left; display:none; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc; z-index:11111111; }
.modal h2 { margin:0px; padding:10px 0 10px 45px; border-bottom:1px solid #333; font-size:20px; }
.da_title {  color:#FFF; padding:0 10px; height:22px; position:relative; }
.da_title_text { float:left; }
.da_close_btn { background:url(/Public/Yh_image/ui-icons_ffffff_256x240.png) -96px -128px repeat-x; position:absolute; right:0px; top:3px; width:19px; height:18px; cursor:pointer; }
.da_icon { text-indent:-9999px; display:block; width:16px; height:16px; }
.table_de_zoom td{ padding:10px;}


/*名品赏识*/
.title_appre{ background:url(/Public/Yh_image/title_appec.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_appre h2{ display:block;text-indent:-9999em;  }

.i_banner_thumb{position:relative; width:630px; float:left; height:72px; overflow:hidden;}

/*i_banner_info*/
.i_banner_info { width:670px; z-index:11; overflow:hidden; position: relative; clear:both; overflow:hidden; }
.i_b_info_l { clear:both; position:relative; height:267px; overflow:hidden;z-index:5; }
.i_b_info_r { width:670px;float:right; overflow:hidden;  text-align:right; }
/*左侧*/
.ibl_title { height:64px; }
.ibl_title span { display:block; clear:both; }
.ibl_cn { font-size:16px; font-family: "微软雅黑", "黑体"; color:#505050; height:47px; line-height:52px; overflow:hidden; }
.ibl_en { font-size:10px; color:#dbf2ca; }
.ibinfo_list { width:670px; position:absolute; height:267px; overflow:hidden; left:0px; top:0px; z-index:9; }
.ibinfo_list dl { width:670px;height:267px; float:left; overflow:hidden; }
.ibinfo_list dl dd{ height:157px;overflow:hidden;}
/*右侧*/
.i_b_info_r dl { float:left; position:relative; width:670px;  z-index:9; display:none; }
.i_b_info_r dl.active { display:block; }
.i_b_info_r dt { position:absolute; width:670px; display:none; height:29px; bottom:0px; left:0px; z-index:9; }
.i_b_info_r dd { width:670px;  display:none; }
.ibinfo { position:relative; width:670px; height:29px; }
.ibinfo_bg { background:#000; z-index:9; position:absolute; bottom:0px; left:0px; width:688px; height:29px; }
.ibinfo_text { position:absolute; text-align:left; width:358px; bottom:0px; left:0px; text-indent:22px; height:29px; line-height:29px; overflow:hidden; color:#FFF; z-index:10 }

/*BANNER缩略图*/
.pcp_thum_btn_left { display:block; width:18px; height:72px; float:left; background:url(/Public/Yh_image/left_arw02.jpg) center bottom no-repeat; text-indent:-9999em; }
.pcp_thum_btn_right { display:block; width:18px; height:72px; float:right; background:url(/Public/Yh_image/right_arw02.jpg) center bottom no-repeat; text-indent:-9999em; }

.ib_thumb{height:72px; z-index:111111;  width:670px; overflow:hidden;}

.ib_thumb_pic{ position:absolute; left:-1px; top:8px; }
.ib_thumb_pic li{ display:block; float:left; padding:0 4px; margin-bottom:24px;}
.ib_thumb_pic li a img{}
.ib_thumb_pic li.active a{border:1px solid #930;}


/*精品展示*/
.title_pro{ background:image-url("title_product.jpg") left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_pro h2{ display:block;text-indent:-9999em;  }

.product_p{}

.product_li{ width:355px; float:left;height:290px;}
.product_li th{ text-align:left;}

/*联系我们，关于我们页面*/
.title_page{ width:710px; height:40px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_page h2{ display:block;text-indent:-9999em;  }


/*红木工艺*/
.title_tech{ background:url(/Public/Yh_image/title_tech.jpg) left top no-repeat; width:710px; height:72px; border-bottom:1px solid #a39a8d; overflow:hidden;}
.title_tech h2{ display:block;text-indent:-9999em;  }

.tech_text_list li { display:block;padding-left:15px; background:url(/Public/Yh_image/arw_icon01.gif) left 3px no-repeat; clear:both;}
.tech_text_list li span{ color:#6f1f06;float:left; display:block;}
.tech_text_list li h4{ float:left; font-size:14px; color:#6f1f06;}
.tech_text_list li p{ line-height:20px; padding:12px 0;}
.tech_text_list li a{ float:left;display:block;}

.tech_text_list a{ display:block; color:#6f1f06;}
.tech_text_list a:link{color:#323232;}
.tech_text_list a:visited{color:#323232;}
.tech_text_list a:hover{color:#6f1f06;}
.tech_text_list a:active{color:#323232;}


.video_li{ width:335px; float:left;}
.video_li th{ text-align:left;}

/*当前位置*/
.localtion_bg{ clear:both; height:29px; overflow:hidden;}
.localtion{ line-height:29px;height:29px; font-size:12px;width:420px; float:left; color:#6f1f06;z-index:1;}
.localtion a{ color:#6f1f06;font-weight:700;}
.localtion a:link { color:#6f1f06; text-decoration:none; }
.localtion a:visited {color:#6f1f06;  text-decoration:none;}
.localtion a:hover { color:#6f1f06; text-decoration:underline; }
.localtion a:active { color:#6f1f06; text-decoration:none;}


/*左边*/
.left2{width:216px;float:left;}
.menu1{width:216px; float:left;clear:both;font-size:12px;color:#fff; padding-top:100px;  }
.menu ul {display:none;}

.l_line{background:url(/Public/Yh_image/lb.gif) right top repeat-y; width:126px;  height:140px;}

.menu a{ display:block; height:46px; line-height:48px; background:image-url("menu_bg.png") center top no-repeat;
_background:image-url("menu_bg.gif") center top no-repeat; text-align:center; overflow:hidden; margin-bottom:4px;}
.menu a:link{color:#353535;}
.menu a:visited{color:#353535;}
.menu a:hover{color:#a61414;}
.menu a:active{color:#353535;}

.activce_m{ font-weight:700;}

.activce_m a{ color:#bc2323;}
.activce_m a:link{color:#bc2323;}
.activce_m a:visited{color:#bc2323;}
.activce_m a:hover{color:#bc2323;}
.activce_m a:active{color:#bc2323;}

.menu_lines{background:url(/Public/Yh_image/lb.gif) left center repeat-x; background-position:left 20%; height:22px;}
.menu{ clear:both;}

.menu_about{ min-height:578px; height:578px;background:url(/Public/Yh_image/lnav_about.jpg) left top no-repeat;}

.menu_tech{min-height:500px; height:500px;background:image-url("lnav_tech.jpg") left top no-repeat;}

.menu_pro{min-height:500px; height:700px;background:image-url("lnav_product.jpg") left top no-repeat;}

.menu_apprec{min-height:500px; height:700px;background:url(/Public/Yh_image/lnav_apprec.jpg) left top no-repeat;}

.menu_shop{min-height:500px; height:700px;background:image-url("lnav_shop.jpg") left top no-repeat;}

.menu_news{min-height:500px; height:700px;background:image-url("lnav_news.jpg") left top no-repeat;}

.menu_collection{min-height:500px; height:700px;background:url(/Public/Yh_image/lnav_collection.jpg) left top no-repeat;}

.menu_msg{min-height:500px; height:700px;background:url(/Public/Yh_image/lnav_msg.jpg) left top no-repeat;}


/*搜索*/
.p_irframe { width:190px; float:right; position:relative;}
.i_search_bg { background:url(/Public/Yh_image/search_bg.jpg) left top no-repeat; position:relative; width:125px; height:18px; float:right; margin-right:10px; margin-top:15px; }
.i_search_form { position:absolute; top:0px; right:0px; width:244px;z-index:111; height:25px;}
.i_sear_iput { border:none; background:url(/Public/Yh_image/search_input.jpg) left top no-repeat; padding-left:4px; color:#a0a0a0;width:148px; height:25px; line-height:25px; }
.i_sear_ibtn { border:none; background:url(/Public/Yh_image/search_btn.jpg) left top no-repeat; width:83px; height:29px;  cursor:pointer; }

/**/
.n_hr_line{ background: url(/Public/Yh_image/about_hr_14.jpg) left top no-repeat; height:37px; font-size:0px;line-height:0px; clear:both; width:100%;}

.page{ height:25px; line-height:25px;background:url(/Public/Yh_image/pagesf_bg.jpg) left top repeat-x;clear:both;color:#6f1f06;}
.page img{margin-right:18px}
.page span{margin-right:10px;}
.page span a{color:#323232;}
.page a{color:#6f1f06;}
.page span a:hover{color:#323232;}
.page .current{color:#6f1f06; font-weight:700;}
.ppage{ float:left; width:690px; padding:0 10px; clear:both;}
.cpage{ float:left; width:480px;}

/*按钮*/
/*
.article_p p{ line-height:20px; padding-bottom:20px;}

.showall_btn{ float:left;}
.showall_btn a{ background:url(/Public/Yh_image/check_all_btn.jpg) left top no-repeat; width:85px; height:31px; display:block; text-indent:-9999px; float:left;}

.backt_btn{ float:left;}
.backt_btn a{ background:url(/Public/Yh_image/back_btn.jpg) left top no-repeat; width:83px; height:29px; display:block; text-indent:-9999px; float:left;}

.backtop_btn{ float:left;}
.backtop_btn a{ background:url(/Public/Yh_image/backtop_btn.jpg) left top no-repeat; width:84px; height:29px; display:block; text-indent:-9999px; float:left;}

.msg_sbtn{ float:left;}
.msg_sbtn a{ background:url(/Public/Yh_image/msg_sbtn.jpg) left top no-repeat; width:83px; height:29px; display:block; text-indent:-9999px; float:left;}

.article_title{ font-size:16px; color:#6f1f06; line-height:62px; height:62px; padding-top:13px;}
*/
.article_p p{ line-height:20px; padding-bottom:20px;}

.showall_btn{ float:left;}
.showall_btn a{ background:url(../Yh_image/check_all_btn.jpg) left top no-repeat; width:85px; height:31px; display:block; text-indent:-9999px; float:left;}

.backt_btn a,.backtop_btn a,.msg_sbtn a,.previous_btn a,.next_btn a{ background:image-url("back_btn.jpg") left top no-repeat; width:83px; height:29px; display:block; text-indent:-9999px; float:left;}
.backt_btn,.backtop_btn,.previous_btn,.msg_sbtn,.next_btn{ float:left;}

.previous_btn a{background:image-url("previous_btn.jpg") left top no-repeat;}
.next_btn a{background:image-url("next_btn.jpg") left top no-repeat;}
.backtop_btn a{ background:url(../Yh_image/backtop_btn.jpg) left top no-repeat;}

.msg_sbtn a{ background:url(../Yh_image/msg_sbtn.jpg) left top no-repeat;}

.article_title{ font-size:16px; color:#6f1f06; line-height:62px; height:62px; padding-top:13px;}

/*人才招聘*/
.hr_list li { float:left; display:block;width:210px; padding-left:13px;background:url(/Public/Yh_image/arw_icon01.gif) left center no-repeat;}
.hr_list a{ display:block; color:#6f1f06;}
.hr_list a:link{color:#323232;}
.hr_list a:visited{color:#323232;}
.hr_list a:hover{color:#6f1f06;}
.hr_list a:active{color:#323232;}

.activce_hr a{ font-weight:700;color:#6f1f06;}
.activce_hr a:link{color:#6f1f06;}
.activce_hr a:visited{color:#6f1f06;}
.activce_hr a:hover{color:#6f1f06;}
.activce_hr a:active{color:#6f1f06;}

.table_ahr td{ padding:6px 0px;}
.table_hr_t{ font-weight:700; color:#6f1f06; font-size:14px;}

.table_ahr th{ color:#6f1f06; font-weight:normal; text-align:left;}

.table_ahr p{ padding:0px;}

/**/


/**/
.csumbit_btn{ background:url(/Public/Yh_image/contact_19.jpg) left top no-repeat; width:93px; height:22px; line-height:0px; border:none;}
.ccancel_btn{ background:url(/Public/Yh_image/contact_21.jpg) left top no-repeat; width:93px; height:22px; line-height:0px; border:none;}


#index_product_nav{
    margin:30px 0 0 0;
}

#index_product_nav a{ 
    color:#fff;
    padding:0 0 0 30px;
}

#index_product_nav a:hover{ 
    color:#D2AA22;
    padding:0 0 0 20px;
    background:image-url("product_nav_dot.png") left top no-repeat;
    margin:0 0 0 10px;
}
    
#index_product_nav li{
    height:44px;
 }

//文章列表页 
 
 #breadcrumbs{
    margin:10px;
    color: #6f1f06;
}

#breadcrumbs a{
    color: #6f1f06;
    font-weight: bold;
}
                        

/*产品中心详细页*/

.table_pro_de_info .table_pro_p{height:65px; float:left; letter-spacing:1px; width:660px;}
.table_pro_de_info .table_pro_t{height:65px;float:left; letter-spacing:1px; width:95px;font-weight:700; color:#6f1f06;}

.table_pde_info th{ text-align:left; color:#6f1f06;}
.table_pde_info td{ text-align:left; color:#323232;}

.table_pde_rel th{ text-align:center;color:#6f1f06;}
.table_pde_rel td{ text-align:center;}                   