<%= content_for :sitemap do %>
<span class="current">修改</span>
<% end %>

<%= content_for :base_sitemap do %>
<ul class="breadcrumb">
  <li><a href="/admin/index">管理后台</a> <span class="divider">/</span></li>
  <li><a href="<%= categories_path %>">产品分类</a> <span class="divider">/</span></li>
  <li class="active">修改</li>
</ul>
<% end %>


<%= render 'form' %>

