<div class="bandeauBas">
  <p>地址：深圳福田区福中三路诺德大厦9H&nbsp;&nbsp;&nbsp;&nbsp; 电话：+86 0755 88267320&nbsp;&nbsp;&nbsp;&nbsp; 传真：+86 0755 88267328  &nbsp;&nbsp;&nbsp;&nbsp; 邮箱：<a href="mailto:winterzhou@lasommeliere.cn">winterzhou@lasommeliere.cn</a></p>
  <div>2013深圳市拉苏米亚商贸有限公司版权所有</div>
  <a href="/" title="拉苏米亚"><img src="/images/skins/commun/logo.jpg" alt="La Sommelière" style="margin-top:10px; width: 130px;"></a>
</div>
